Stephen Torrez <br>
CSCI 240 <br>
Dynamic Webpage

<html>
<body>
<h1>Sample Web Page For Comic Database</h1>
<p>Comic Series
<table>
<table border=“1”>
<tr>
<th>SeriesID</th>
<th>Title</th>
<th>VolumeNumber</th>
<th>StartYear</th>
</th>
<tr>
	<td>SIDXM1</td>
	<td>X-Men</td>
	<td>1</td>
	<td>1963</td>
</tr>
<tr>
	<td>SIDXM2</td>
	<td>X-Men</td>
	<td>2</td>
	<td>1992</td>
</tr>
<tr>
	<td>SIDASM1</td>
	<td>Amazing Spider-Man</td>
	<td>2</td>
	<td>2003</td>
</tr>
<tr>
	<td>{{SeriesID}}</td>
	<td>{{Title}}</td>
	<td>{{VolumeNumber}}</td>
	<td>{{StartYear}}</td>

  </tr>

</table>
</p>

</body>
</html>