<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
</head>
<body>
    <h1>Enter Series Information</h1>
    <form action="/result" method="GET">
        SeriesID: <input type="text" name="SeriesID"><br />
        Title: <input type="text" name="Title"><br />
        VolumeNumber: <input type="text" name="VolumeNumber"><br />
        StartYear: <input type="text" name="StartYear"><br />
        <input type="submit" name="Submit">
      </form>
</body>
</html>
