{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing Characters{% endblock %}

{% block content %}

<table>
  <tr>
    <th>CharacterID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Monicker</th>
  </tr>
  {% for row in ComicCharacterList %}
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      {{row[2]}}
    </td>
    <td>
      {{row[3]}}
    </td>
    <td>
      <a href="/showIssues?CharacterID={{row[0]}}">View Issues this character has appeared in</a><br />
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
